<a href="https://colab.research.google.com/github/haripriya678/tableau_dashboard/blob/main/Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

try:
    # Modified to read the uploaded Excel file
    data = pd.read_excel('/content/ramakrishna.csv (1).xlsx')
    print("'ramakrishna.csv (1).xlsx' loaded successfully.")
    display(data.head()) # Display first few rows to confirm loading

    # Assuming 'Sales Flag' is the target column based on the data.head() output
    # If the target column name is different, please update 'Sales Flag'
    if 'Sales Flag' in data.columns:
        X = data.drop('Sales Flag', axis=1)
        y = data['Sales Flag']

        # Handle potential non-numeric data in features if any
        # This is a basic approach; more sophisticated handling might be needed depending on data
        X = X.select_dtypes(include=['number']) # Keep only numeric columns for features

        if not X.empty and not y.empty:
            X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
            model = RandomForestClassifier(random_state=42) # Added random_state for reproducibility
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)
            print("Accuracy:", accuracy_score(y_test, y_pred))
        else:
            print("DataFrame is empty or target column is missing after numeric selection. Cannot train model.")
    else:
        print("Target column 'Sales Flag' not found in the dataset. Please specify the correct target column.")

except FileNotFoundError:
    print("'ramakrishna.csv (1).xlsx' not found. Please ensure the file is uploaded to '/content/ramakrishna.csv (1).xlsx'.")
except Exception as e:
    print(f"An error occurred: {e}")
    data = None # Ensure data is None if any other error occurs

'ramakrishna.csv (1).xlsx' loaded successfully.

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,...,Year,Month Name,Date,Day,Order Value Type,Rating Level,Review Type,Price Range,Quantity Type,Sales Flag
0,ORD100070,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Giza,5338.30,5,26691.50,2.98,...,2024,August,2024-08-30,30,High,Excellent,Many,Premium,Bulk,High Sale
1,ORD100078,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Cairo,19086.50,5,95432.50,3.75,...,2024,October,2024-10-04,4,High,Excellent,Many,Premium,Bulk,High Sale
2,ORD100158,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Casablanca,18802.41,5,94012.05,4.49,...,2024,December,2024-12-02,2,High,Excellent,Many,Premium,Bulk,High Sale
3,ORD100198,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Giza,11678.62,5,58393.10,2.79,...,2024,April,2024-04-19,19,High,Excellent,Many,Premium,Bulk,High Sale
4,ORD100270,Xiaomi Redmi Note 12,Electronics,Xiaomi,Jumia,Alexandria,17521.48,5,87607.40,2.68,...,2024,March,2024-03-20,20,High,Excellent,Many,Premium,Bulk,High Sale

Accuracy: 0.9995